<!DOCTYPE html>
<html>
  <head>
    <title><%= room %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= room %></h1>

    <!-- socket -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io("localhost:3000");
      socket.on("news", function (data) {
        console.log(data);
        socket.emit("my other event", { my: "data" });
      });
    </script>
  </body>
</html>
